{
  "plugins": [
    "transform-runtime"
  ],
  "presets": [
    [
      "babel-preset-env",
      {
        "targets": {
          "browsers": ["last 2 versions"]
        },
        "debug": true,
        "useBuiltIns": true,
      }
    ]
  ],
  "ignore": [
    "dist/**/*.js"
  ]
}
