@charset "UTF-8";

.page-news {
  font-size: 20px;
  color: #0f0;
}
.icon-wechat {
  display: inline-block;
  width: 200px;
  height: 800px;
  background: url(../../img/wechat-1.jpg) 0 0 no-repeat;
}
