<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>新闻</title>
  <link href="<%= htmlWebpackPlugin.files.css[0] %>" rel="stylesheet">
  <% htmlWebpackPlugin.files.css.forEach(function(name){ %>
    <% if (name.indexOf('news') > -1) { %>
      <link href="<%= name %>" rel="stylesheet">
    <% } %>
  <% }) %>
</head>
<body>
  <p class="page-news">这是新闻页</p>
  <span class="icon-wechat"></span>
  <script src="<%= htmlWebpackPlugin.files.chunks['vendor'].entry %>"></script>
  <script src="<%= htmlWebpackPlugin.files.chunks['common'].entry %>"></script>
  <script src="<%= htmlWebpackPlugin.files.chunks[htmlWebpackPlugin.options.filename.split('.')[0]].entry %>"></script>
</body>
</html>
